.header {
  margin-top: 50px;
  margin-bottom: 70px;
  border-bottom: 3px solid grey;
}

.foodSearchResults {
  margin-top: 50px;
  margin-bottom: 70px;
  border-bottom: 3px solid grey;
}

.formStyle {
  margin-bottom: 30px;
}